body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#dogImageContainer, #catImageContainer {
    display: none;
    margin-top: 20px;
}

#rabbitImageContainer {
	display: none;
	margin-top: 20px;
}

img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
}

.ad img {
    max-width: 100%;
}

.content {
    flex: 2;
    padding: 20px;
}
