body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Change justify-content to flex-start */
    min-height: 100vh;
}


h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#dogImageContainer, #catImageContainer, #rabbitImageContainer {
    display: none;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}

img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse; /* Change flex-direction to row-reverse */
    align-items: flex-start;
    justify-content: flex-start; /* Add justify-content to align content at the start */
}


.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    max-height: 100vh; /* Set a maximum height */
    overflow-y: auto; /* Add scrollbars if content overflows */
	align-self: flex-start;
}

.ad img {
    max-width: 100%;
    height: auto;
}

.content {
    flex: 2;
    padding: 20px;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}